$borderColor:rgba(194,194,194,.3);

h1 {
    font-size: 26px;
    font-weight: 100;
    letter-spacing:2px;
    margin:15px 0px;
}

.dashcontainer
{
    margin-top:80px;
    background-color:white;
    border-color:$borderColor;
}