extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/dashboard.css")

block scripts
    script(type='text/javascript', data-main='/scripts/main', src='/components/requirejs/require.js') 
    
block content
    .container.dashcontainer
        .row-fluid
            .col-md-12
                h1.clearfix
                    .teamtitle.pull-left
                        span.username [#{user.clientName.toUpperCase()}] #{user.firstName} #{user.lastName}
                        's Activity
                    .score.pull-right
        .row-fluid
            .col-md-12
                .activityGraph
        .row-fluid
            .col-md-6 
                h1 Team Scoreboard
            .col-md-6
                h1 Top Individuals
        .row-fluid
            .col-md-6
                .teamScoreboard
            .col-md-6
                .individualScoreboard
                