extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/dashboard.css")

block scripts
    script(type='text/javascript', data-main='/scripts/main', src='/components/requirejs/require.js') 
    
block content
    .container.dashcontainer
        .row-fluid
            .col-md-12
                h1 Your Activity
        .row-fluid
            .col-md-12
                .activityGraph
                