extends layout

block styles
    link(rel="stylesheet", href="stylesheets/login.css")
    
block content
    .fit-modal
        .header.
            PMG would like to thank you for your continued partnership. You are invited to participate in PMG's giving celebration.
        .body
            .section-top.
                PMG will donate to the chairty of your choice to the most active partners. Use the gifted fitbit to earn points for your team. You can earn points by:
            .section-bottom
                table
                    tr
                        td
                            .sprite.sprite-calories
                        td
                            .sprite.sprite-sleep
                        td
                            .sprite.sprite-steps
                        td
                            .sprite.sprite-social
                    tr
                        td calories burned
                        td hours slept
                        td steps taken
                        td being active on social

        .footer
            a.btn.btn-success(href="/login") Sign in with Fitbit
                