extends layout

block scripts
    script(type='text/javascript', data-main='scripts/main', src='components/requirejs/require.js')
block content
    .row
        .col-md-12.
            Here is some content
